<table style="width:100%">
  <tr>
    <th>Counter Value</th>
    <th>Image</th>
  </tr>
  <% plays.each do |play| %>
    <tr>
      <td><%= play.timer_value %></td>
      <td><img src="<%= play.url %>" id="image" height="200" width="250"></td>
    </tr>
  <% end %>
</table>
